$layout-bg: hsl(0, 0%, 100%);
$header-bg: hsla(0, 0%, 100%, 0.349);
$header-bg-hover: hsla(0, 0%, 100%, 0.1);
$header-item-color: hsl(0, 0%, 100%);
$header-item-color__on-header-hover: hsl(27, 41%, 57%);
$header-item-color__on-hover: hsl(0, 0%, 100%);